.heading{
font-size: 23px;
width:100%;
margin:0px;
box-shadow: 15px 15px 12px rgb(104, 251, 168);
}

.note{
color: black;
font-size: 15px;
}

.copyRightFooter{
bottom: 0;
position:fixed;
width: 100%;
background-color: darkgray;
text-align: center;
color: whitesmoke;
line-height: 3;
}

canvas{
border: 5px ridge goldenrod;
border-radius: 5px;
box-shadow: 5px 5px 5px crimson;
}